
.search-input {
    width: 100%;
    border-radius: 5px;
}


.search-button {
    width: 100%;
    border-radius:8px;
    color: aliceblue;
    background-color: rgb(15, 108, 207);
}


option{
    color: #fff;
    background-color: rgba(43, 24, 89, 0.742);

}
.description{
    font-weight:bolder ;
    font-size: 0.7rem;
}
